/*Variables for theme colors on the website*/
    :root{
        --red-color: #ED254E;
        --yellow-color: #E9DC5C;
        --cyan-color:#C2EABD;
        --blue-color: #011936;
        --gray-color: #465362;

        box-sizing: border-box;
    }

    body{
        width: 100vw;
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        font-size: 1.2em;
    }

    h3{
        font-family: 'Yeseva One', cursive;
        /*margin: 0 0 1em 0;*/
    }

/*HEADER*/
    nav{
        width: 100vw;
    }

    .display_logo{
        display: none;
    }

    .logo{
        background-image: url("../img/logo.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-color: white;
        border-radius: 100%;
        border: 2px solid var(--cyan-color);
        width: 10vw;
        height: 10vh;
    }

    .top_menu{
        background-color: var(--blue-color);
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        padding: 1em;
        margin: 0;
    }

    .top_menu li a{
        display: block;
        text-decoration: none;
        color: white;
    }

    .top_menu li a:hover{
        color: var(--cyan-color);
    }

    .medium_screen{
        display: none;
        position: absolute;
    }

    .dropdown{
        background-color: #011936;
        color: white;
        position: absolute;
    }

    .dropdown ul, .medium_screen ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0;
    }

    .dropdown ul li, .medium_screen ul li{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dropdown ul li a{
        width: 100%;
        height: 100%;
        background-color: var(--blue-color);
        color: white;
        text-decoration: none;
        padding: 1.5em;
    }

    .dropdown ul li a:hover{
        background-color: var(--gray-color);
    }

    .dropdown ul li a:hover{
        color: var(--cyan-color);
    }

    .medium_screen ul li{
        background-color: var(--red-color);
        z-index: 5;
    }

    .medium_screen ul li a{
        color: var(--blue-color);
        width: 100%;
        height: 100%;
        padding: 1em;
    }

    .medium_screen ul li a:hover{
        background-color: var(--yellow-color);
        color: var(--gray-color);
    }

    #my_name{
        color: var(--cyan-color);
        font-family: 'Permanent Marker', cursive;
        margin-left: 10px;
        text-shadow: 2px 2px 4px #000000;
    }

    .show{
        display: none;
    }

    .info p{
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

/*HEADER*/

/*MAIN*/
    .message, .resume_view{
        width: 100vw;
        height: 100vh;
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: none;
        font-size: 0.8em;
    }

    .resume_view{
        width: 70vw;
        height: 80vh;
    }

    iframe{
        width: 100%;
        height: 100%;
    }

    .resume_view button{
        position: absolute;
        top: 10px;
        right: 0;
    }

    .resume_view button:hover{
        color: var(--yellow-color);
    }

    .message form{
        width: 100%;
        height: 100%;
        background-color: var(--gray-color);
        color: white;
        display: flex;
        flex-direction: column;
        padding: 0.5em;
        box-sizing: border-box;
    }

    .message form p{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .message form p label{
        align-self: stretch;
        line-height: 2em;
        width: 20%;
    }

    .message form p input, .message form p textarea{
        border: 1px solid black;
        align-self: stretch;
        flex-grow: 3;
        margin-left: 10px;
        padding: 0.5em;
        width: 80%;
    }

    .message form p button{
        align-self: stretch;
        flex-grow: 2;
        background-color: var(--cyan-color);
        border: 1px solid black;
        padding: 1em;
        cursor: pointer;
    }

    .message form p button:hover{
        background-color: var(--red-color);
    }

    .container{
        height: calc(100vh - 3em);
        margin: 0;
        padding: 2em;
        background-image: url("../img/landscape.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .resume{
        border: 1px solid black;
        padding: 0.8em;
        background-color: var(--red-color);
        text-decoration: none;
        color: var(--blue-color);
        border-radius: 30px;
        box-shadow: inset 0 0 10px #000000;
    }

    .resume:hover{
        background-color: var(--gray-color);
    }

    .about_me{
        width: 100vw;
        height: 100vh;
        border-bottom: 10px solid var(--red-color);
        background-color: white;
        box-sizing: border-box;
        padding: 1em;
    }

    .about_me img{
        width: 200px;
        height: 200px;
        margin: 3em 1em 5em 1em;
        border: 1px solid white;
        box-shadow: 10px 5px 5px black;
        border-radius: 20px 0 20px 0;
    }

    .about_me article{
        width: 100%;
        height: 100%;

    }

    .about_info{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .slider{
        display: none;
    }

    .fade{
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

    .skills{
        width: 100vw;
        height: 100vh;
        background: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1em;
    }

    .skills h3{
        align-self: flex-start;
        margin-left: 1em;
    }

    .language{
        border: 1px solid black;
        border-radius: 100%;
        background-color: var(--yellow-color);
        padding: 2em;
        margin-bottom: 2em;
    }

    .projects{
        background-color: var(--gray-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
    }

    .projects h3{
        align-self: flex-start;
        color: white;
    }

    .projects article{
        position: relative;
        margin-bottom: 5em;
        box-sizing: border-box;
    }

    .project_image{
        background-color: #ED254E;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
    }

    .project_image:hover, .project_info:hover{
        cursor: pointer;
        border: 1px solid white;
        box-shadow: 10px 5px 5px black;
    }

    .project_info{
        box-sizing: border-box;
        padding: .5em;
        font-size: 0.8em;
        background-color: white;
        position: absolute;
        top:0;
        left: 0;
        display: none;
    }

    .project_info a{
        color: var(--blue-color);
    }

    .project_info a:hover{
        color: var(--cyan-color);
    }

    .project_info, .project_image{
        width: 60vw;
        height: 40vh;
    }

    .mobile_image{
        position: absolute;
        bottom: 5px;
        right: 5px;
        width: 20%;
        height: 35%;
    }

    .care_package{
        background-image: url("../img/care_package_desktop.png");
    }

    .movie_project{
        background-image: url("../img/movie_project_desktop.png");
    }

    .codeup_design{
        background-image: url("../img/codeup_design_project_desktop.png");
    }

    .coffee_project{
        background-image: url("../img/coffee_project_desktop.png");
    }

    .weather_application{
        background-image: url("../img/weather_application_desktop.png");
    }
/*MAIN*/

/*FOOTER*/
    footer{
        display: flex;
        background-color: var(--blue-color);
        color: white;
        justify-content: space-between;
        padding: 1.5em;
        font-size: 0.5em;
    }

    .footer{

        display: flex;
        list-style-type: none;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
    }

    .footer li a{
        margin-left: 0.8em;
        color: white;
    }

    .footer li a:hover{
        color: var(--cyan-color);
    }
/*FOOTER*/

/*Breakpoint for Small devices (landscape phones)*/
@media screen and (min-width: 576px){
    /*MAIN*/
    .about_me img{
        height: 300px;
        width: 300px;
    }

    .project_info, .project_image{
        width: 350px;
        height: 310px;
    }
}

/*Breakpoint for Medium devices (tablets)*/
@media screen and (min-width: 768px){
   /*HEADER*/
    .display_logo{
        display: block;
    }

    .medium_screen{
        display: block;
        position: fixed;
        top:0;
        height: 100%;
        background-color: var(--red-color);
        opacity: 0.8;
    }

    .medium_screen ul{
        margin-top: 30vh;
    }

    .display_menu{
        display: none;
    }

    .top_menu{
        height: 10vh;
        justify-content: space-between;
    }

    .display_logo{
        margin-left: 4em;
    }

    .message{
        width: 80vw;
        height: 70vh;
        margin: auto;
    }

    .container{
        height: calc(100vh - 10vh);
    }

    footer{
        font-size: 1.5em;
    }

    /*MAIN*/
    .about_me{
        background-image: -webkit-linear-gradient(white 39%,var(--gray-color) 39% 40% ,var(--cyan-color) 40% 60%, var(--gray-color) 60% 61%,white 61%); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
        background-image:    -moz-linear-gradient(white 39%,var(--gray-color) 39% 40% ,var(--cyan-color) 40% 60%, var(--gray-color) 60% 61%,white 61%); /* For Firefox (3.6 to 15) */
        background-image:      -o-linear-gradient(white 39%,var(--gray-color) 39% 40% ,var(--cyan-color) 40% 60%, var(--gray-color) 60% 61%,white 61%); /* For old Opera (11.1 to 12.0) */
        background-image:         linear-gradient(white 39%,var(--gray-color) 39% 40% ,var(--cyan-color) 40% 60%, var(--gray-color) 60% 61%,white 61%); /* Standard syntax; must be last */
        padding-left: 3em;
    }

    .about_info{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .about_me img{
        height: 45vh;
        width: 40vw;
    }

    .skills h3{
        margin-left: 4em;
    }

    .projects{
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-between;
        padding-left: 4em;
    }

    .projects article{
        padding-right: 5em;
    }

    .projects h3{
        flex-basis: 100%;
    }

    .project_info, .project_image{
        width: 40vw;
        height: 40vh;
        margin-right: 15px;
    }

    .info{
        padding: 5em;
    }

    footer{
        padding-left: 4em;
    }
}

/*Breakpoint for Large devices (desktops)*/
@media screen and (min-width: 992px){
    /*MAIN*/
    .about_me img{
        height: 350px;
        width: 340px;
    }

    .project_info, .project_image{
        width: 300px;
        height: 300px;
    }
}

/*Breakpoint for Extra large devices (large desktops)*/
@media screen and (min-width: 1200px){

}
