/*Variables for theme colors on the website*/
:root{
    --red-color: #ED254E;
    --yellow-color: #E9DC5C;
    --cyan-color:#C2EABD;
    --blue-color: #011936;
    --gray-color: #465362;

    box-sizing: border-box;
}

body{
    width: 100vw;
    margin: 0;
    padding: 0;
}

/*HEADER*/
nav{
    width: 100vw;
}

.top_menu{
    background-color: #011936;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 1em;
    margin: 0;
}

.top_menu li a{
    display: block;
    text-decoration: none;
}

.medium_screen{
    display: none;
    position: absolute;
}

.medium_screen #exit_medium{
    margin-bottom: 5em;
}

.dropdown{
    background-color: #011936;
    color: white;
    position: absolute;
}

.dropdown ul, .medium_screen ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
}

.dropdown ul li, .medium_screen ul li{
    padding: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown ul li a{
    background-color: #011936;
    color: white;
    text-decoration: none;
}

.dropdown ul li a:hover{
    color: #C2EABD;
}

.medium_screen ul li{
    background-color: darkred;
}

.show{
    display: none;
}

/*HEADER*/

/*MAIN*/
    .container{
        height: calc(100vh - 3em);
        margin: 0;
        padding: 2em;
        background-image: url("../img/landscape.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    .about_me{
        height: 100vh;
        background-color: #465362;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about_me img{
        width: 30vw;
        height: 30vh;
        margin: 1em;
        border: 1px solid white;
        box-shadow: 10px 5px 5px black;
        border-radius: 20px 0 20px 0;
    }

    .about_me article{
        padding: 1em;
    }

    .projects{
        height: 100vh;
        background-color: #E9DC5C;
    }

    .project_image{
        background-color: #011936;
        height: 40vh;
        width: 40vw;
    }
/*MAIN*/

/*FOOTER*/
    footer{
        display: flex;
        background-color: #011936;
        color: white;
        justify-content: space-between;
        padding: 1.5em;
        font-size: 0.5em;
    }

    .footer{

        display: flex;
        list-style-type: none;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
    }

    .footer li a{
        margin-left: 0.8em;
        color: white;
    }

.footer li a:hover{
    color: #C2EABD;
}
/*FOOTER*/

/*Breakpoint for Small devices (landscape phones)*/
@media screen and (min-width: 576px){

}

/*Breakpoint for Medium devices (tablets)*/
@media screen and (min-width: 768px){
   /*HEADER*/
    .medium_screen{
        display: block;
        top: 30vh;
    }

    .display_menu{
        display: none;
    }

    .top_menu{
        height: 10vh;
    }

    .container{
        height: calc(100vh - 10vh);
    }

    footer{
        font-size: 1.5em;
    }
}

/*Breakpoint for Large devices (desktops)*/
@media screen and (min-width: 992px){

}

/*Breakpoint for Extra large devices (large desktops)*/
@media screen and (min-width: 1200px){

}
